@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, Poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --font-Poppins:Poppins, "Poppins";
  --font-Arial:Arial, "Arial";
  --color-dark:#050608;
  --color-starcolor:rgba(235, 87, 87, 1);
  --color-Secondary:#F5613C;
}
